h1 {color:hsl(253, 100%, 50%)}
#ronaldo1 {width:70%;} 
h1 {text-align: center;}
h2 {font-size: 100%}

#ronaldo2 {width: 40%; color:bisque}
#ronaldo1 {width:40%; color: bisque;}
#ronaldo {width:40%; color: bisque;}
h3 {font-size:120%}

h4 {font-size:80%}

h5 {font-size:80%}
h6 {font-size: 80%}

h2{color:bisque}
h3{color:blue}
h4{color:aqua}
h5{color:brown}
h6{color:brown}

#ronaldo4 {width: 75%;color: bisque;}

#ronaldo4 {color: azure;}
#ronaldo1 {color:azure}
#ronaldo3 {color: azure}
#ronaldo2 {color:azure}
body {background-color: black;}










